// card
.stats-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 1rem;
  gap: 1rem;
  .card {
    padding: 1.6rem 2rem;
    border-radius: 12px;
    background: var(--bg-card);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.164);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .card-icon {
    width: 50px;
    height: 50px;
    background: rgba(59, 130, 246, 0.15);
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  .card-content p {
    margin-bottom: 0.6rem;
  }
}
