main {
  display: flex;
  flex-direction: column;

  .layout {
    display: flex;
    flex: 1;
  }
  .content {
    flex: 1;
    padding: 1.2rem;
  }
}

.sidebar {
  min-height: calc(100vh - 56px);
  width: 250px;
  background: #232a41;
  padding: 1rem;

  .logo {
    color: #fff;
    font-weight: 500;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    margin-bottom: 2rem;

    h3 {
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.3rem;
    }
  }

  .chart-icon {
    font-size: 2.4rem;
  }

  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.9rem;
    border-radius: 12px;
    margin-bottom: 1rem;

    &.active {
      background-color: #745edc;
    }
  }
  svg {
    margin-right: 10px;
  }
}
