// Header
.header {
  width: 100%;
  margin: auto;
  padding-block: 1rem;
  border-bottom: 1px solid var(--border);
  position: relative;
  margin-bottom: 1.6rem;

  @media (max-width: 992px) {
    padding-inline: 15px;
  }

  nav {
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        width: 100%;
        vertical-align: middle;
        max-width: 24px;
        height: auto;
        margin-right: 0.6rem;
      }
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: #232a41;
    }
  }
  .theme-toggle button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
  }
}
