@use "../src/components/transactions/TransactionSummary/TransactionSummary.scss";
@use "../src/components/transactions/TransactionForm/TransactionForm.scss";
@use "../src/components/transactions/TransactionList/TransactionList.scss";
@use "../src/components/layout/Header/Header.scss";

// Variables
:root {
  --bg-primary: #111827;
  --bg-card: #1f2937;
  --bg-sidebar: #1f2937;
  --text-primary: #f3f4f6;
  --text-muted: #a0a3af;
  --border: #78808b;
  --accent: #353962;
}
[data-theme="light"] {
  --bg-primary: #ffffff;
  --bg-card: #ffffff;
  --bg-sidebar: #ffffff;
  --text-primary: #111827;
  --text-muted: #475569;
  --border: #e5e7eb;
  --accent: #6366f1;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
  transition: all 0.3s ease;
}

.page-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.page-title-sm {
  font-size: 1rem;
}

// breadcrumb styling
.breadcrumb {
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-primary);
  }

  svg {
    margin-inline: 0.4rem;
    font-size: 0.9rem;
    color: var(--text-muted);
  }
}
